<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<hr/>

<h2>Comments</h2>
<%= render @article.comments %>
<hr/>

<h2>Add a comment:</h2>
<%= render "comments/form" %>
<hr/>

<%= link_to 'Voltar', articles_path %>